nav{
    border-bottom: 1px solid grey;
    padding: 3rem 0;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 6rem;
    font-weight: 500;
}

.menu a {
    display: block !important;
    font-size: 3.75rem ;
    transition: 0.2s;
    text-decoration: none !important;
    color: black;
}

.menu a:hover {
    display: block !important;
    font-size: 3.75rem ;
    color: chocolate;
    transition: 0.2s;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 20rem;
    align-items: center;
}